<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>999065468000-g6jt6n9pa92891gncgj6m6dneu2buhkk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.999065468000-g6jt6n9pa92891gncgj6m6dneu2buhkk</string>
	<key>API_KEY</key>
	<string>AIzaSyDVsnDBA7AaEm1bHwSJIYFnegc68zMHj5E</string>
	<key>GCM_SENDER_ID</key>
	<string>999065468000</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stan.ostrovskiy.TableViewWithMultipleCellTypes</string>
	<key>PROJECT_ID</key>
	<string>reloadabletableview</string>
	<key>STORAGE_BUCKET</key>
	<string>reloadabletableview.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:999065468000:ios:10da79b06db21b9c</string>
	<key>DATABASE_URL</key>
	<string>https://reloadabletableview.firebaseio.com</string>
</dict>
</plist>